.feature_div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: start;
  gap: 35px;
}

.single_feature {
  display: flex;
  gap: 20px;
}

.icon_div {
  background: linear-gradient(130deg, #493d9e, #837ea9);
  color: white;
  height: 55px;
  width: 55px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  height: 25px;
  width: 25px;
}

.feature_title {
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  color: #2d336b;
}

.feature_desc {
  color: #2d336b;
  font-size: 20px;
  white-space: normal;
  text-align: left;
}

@media screen and (max-width: 476px) {
  .feature_div {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 0 5px;
  }

  .single_feature {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 10px;
  }

  .icon_div {
    height: 45px;
    width: 45px;
  }

  .icon {
    height: 20px;
    width: 20px;
  }

  .feature_title {
    font-size: 25px;
  }

  .feature_desc {
    font-size: 18px;
    color: #2d336b;
    white-space: normal;
  }
}

@media screen and (min-width: 477px) and (max-width: 768px) {
  .feature_div {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 0 5px;
  }

  .single_feature {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 10px;
  }

  .icon_div {
    height: 45px;
    width: 45px;
  }

  .icon {
    height: 20px;
    width: 20px;
  }

  .feature_title {
    font-size: 25px;
  }

  .feature_desc {
    font-size: 18px;
    color: #2d336b;
    white-space: nowrap;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .feature_div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0 5px;
  }

  .single_feature {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 10px;
  }

  .icon_div {
    height: 45px;
    width: 45px;
  }

  .icon {
    height: 20px;
    width: 20px;
  }

  .feature_title {
    font-size: 25px;
  }

  .feature_desc {
    font-size: 18px;
    color: #2d336b;
    white-space: normal;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1400px) {
  .feature_div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0 5px;
    align-items: center;
    justify-items: start;
  }

  .single_feature {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 10px;
  }

  .icon_div {
    height: 45px;
    width: 45px;
  }

  .icon {
    height: 20px;
    width: 20px;
  }

  .feature_title {
    font-size: 25px;
  }

  .feature_desc {
    font-size: 18px;
    color: #2d336b;
    white-space: normal;
  }
}
